.create-food{

    form{
        color: $secondary_color;

        label{
            text-transform: capitalize;
            font-size: 22px;
            margin-bottom: 5px;
        }

        input{
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 10px;
            border: 0px;
            background-color: rgba($color: $secondary_color, $alpha: 0.1);
        }  
        
        input[type=file]{
            background-color: rgba($color: $secondary_color, $alpha: 0.5);
            font-family: 'Nunito';
        }

        .img-label{
            display: block;
        }

    }
}