
.container-input-restaurant{
    font-size: 17px;

    // checkbox
    .wrapping-checkbox{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .checkbox-restaurant{
            padding: 10px 20px;
            align-items: center;
            font-size: 17px;
        }
    }
    
    // button
    .button-create-restaurant{
        padding: 5px 20px;
        font-size: 17px;
        border-radius: 10px;
    }
}

