


img{
    width: 100%;
    height: 100%;
}

.m_button{
    color: white;
    text-decoration: none;
    padding: 16px 25px;
    background-color: $primary_color;
    border-radius: 8px;

    &:hover{
        border: 1px solid white;
        color: white;
    }
}

// logo
.logo{
    width: 60px;
}