// import
@import '../../../js/style/variables.scss';

// start login-daschboard
.login-dashboard{
padding: 10px 40px;
border-bottom: 1px solid rgba($color: #2e3333, $alpha: 0.1);
    a{
        color: $primary_color;
    }
}
// end login dashboard

// star nav-dashboard
.nav-dashboard{
    min-height: 100vh;
    border-right: 1px solid rgba($color: #2e3333, $alpha: 0.1);
    padding: 10px 40px;

    .sidebar-sticky{
        // ristorante
        .ristorante-dashboard{
            display: flex;
            background-color: $primary_color;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            padding: 10px;
            box-shadow: 1px 1px 10px rgba($color: #2e3333, $alpha: 0.5);
            #img-ristorante{
                width: 30px;
                height: 30px;
                background-color: white;
                margin: 0 10px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h6{
                margin: 0px;
            }
        }
        // lista di link
        ul{
            margin-top: 40px;
            li{
                margin-bottom: 10px;
                a{
                    color: $secondary_color;
                    
                    .icon{
                        font-size: 22px;
                        margin-right: 10px;
                    }
                }
                
                &.active{
                    border-left: 4px solid $primary_color ;
                }
            }
            
        }
    }
}
// end nav-dashboard

